@charset "UTF-8";

div#cadastro{
    background-color: #FFFFFF;
    margin-top: 25vh;
    margin-left: 31vw;
    width: 38vw;
    height: 55vh;
    padding-top: 1vh;
}

div#verificac{
    width: 12vw;
    height: 2vh;
    position: absolute;
    top: 43.7vh;
    left: 52vw;
    border-radius: 5px;
    color: #505050;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #174DBA;
    text-align: center;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #505050;
    text-align: center;
}

select{
    border-color: #174DBA;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 1.8vw;
    margin-right: 1.8vw;
    height: 4.7vh;
    width: 16.4vw;
}

input.submit{
    margin-left: 10.8vw;
}

label{
    margin-left: 1.8vw;
    margin-bottom: 1vh;
}

label#lblemail{
    margin-left: 10.87vw;
}

label#lblsexo{
    margin-left: 14.9vw;
}

label#lblrepet{
    margin-left: 15.2vw;
}

label.opt{
    margin-left: 0.3vw;
    margin-right: 0.1vw;
}

input{
    margin-left: 1.8vw;
}

input.radio{
    margin: 0;
    height: 2vh;
    width: 1vw;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #dadce0;
    margin-left: 1.8vw;
    margin-top: -15px;
}

@media only screen and (max-width: 1300px){
    div#cadastro {
        width: 48vw;
        margin-left: 30vw;
    }
    div#verificac {
        top: 42.3vh;
        width: 15vw;
        left: 55.4vw;
        height: 1.5vh;
    }
    input{
        width: 17vw;
        margin-left: 4vw;
    }
    input.submit{
        margin-left: 14vw;
    }
    label{
        margin-left: 4vw;
    }
    label#lblemail{
        margin-left: 11.87vw;
    }
    
    label#lblsexo{
        margin-left: 16.6vw;
    }
    
    label#lblrepet{
        margin-left: 16.9vw;
    }
    select{
        margin-left: 4vw;
        margin-right: 2vw;
    }
    p{
        margin-left: 4vw;
    }
}

@media only screen and (max-width: 1100px){
    div#cadastro {
        width: 52vw;
        margin-left: 27vw;
    }
    div#verificac {
        top: 42.3vh;
        width: 18vw;
        left: 53.8vw;
        height: 1.5vh;
    }
    input{
        margin-left: 6vw;
    }
    input.submit{
        margin-left: 14vw;
    }
    label{
        margin-left: 6vw;
    }
    label#lblemail{
        margin-left: 11.87vw;
    }
    
    label#lblsexo{
        margin-left: 16.6vw;
    }
    
    label#lblrepet{
        margin-left: 16.9vw;
    }
    select{
        margin-left: 6vw;
        margin-right: 2vw;
    }
    p{
        margin-left: 6vw;
    }
}

@media only screen and (max-width: 900px){
    div#cadastro {
        width: 55vw;
        margin-left: 25.5vw;
    }
    div#verificac {
        top: 42.3vh;
        width: 18vw;
        left: 53.8vw;
        height: 1.5vh;
    }
    input{
        margin-left: 6vw;
    }
    input.submit{
        margin-left: 14vw;
    }
    label{
        margin-left: 6vw;
    }
    label#lblemail{
        margin-left: 11.87vw;
    }
    
    label#lblsexo{
        margin-left: 16.6vw;
    }
    
    label#lblrepet{
        margin-left: 16.9vw;
    }
    select{
        margin-left: 6vw;
        margin-right: 2vw;
    }
    p{
        margin-left: 6vw;
    }
}

@media only screen and (max-width: 700px){
    div#cadastro {
        width: 58vw;
        margin-left: 24vw;
    }
    div#verificac {
        top: 42.3vh;
        width: 18vw;
        left: 53.8vw;
        height: 1.5vh;
    }
    input{
        margin-left: 6vw;
    }
    input.submit{
        margin-left: 14vw;
    }
    label{
        margin-left: 6vw;
    }
    label#lblemail{
        margin-left: 11.87vw;
    }
    
    label#lblsexo{
        margin-left: 16.6vw;
    }
    
    label#lblrepet{
        margin-left: 16.9vw;
    }
    select{
        margin-left: 6vw;
        margin-right: 2vw;
    }
    p{
        margin-left: 6vw;
    }
}

@media only screen and (max-width: 400px){
    div#cadastro {
        width: 80vw;
        margin-left: 10vw;
    }
    div#verificac {
        top: 42.3vh;
        width: 18vw;
        left: 53.8vw;
        height: 1.5vh;
    }
    input{
        margin-left: 6vw;
    }
    input.submit{
        margin-left: 14vw;
    }
    label{
        margin-left: 6vw;
    }
    label#lblemail{
        margin-left: 11.87vw;
    }
    
    label#lblsexo{
        margin-left: 16.6vw;
    }
    
    label#lblrepet{
        margin-left: 16.9vw;
    }
    select{
        margin-left: 6vw;
        margin-right: 2vw;
    }
    p{
        margin-left: 6vw;
    }
}