@charset "UTF-8";

div#login{
    background-color: #FFFFFF;
    margin-top: 25vh;
    margin-left: 38vw;
    width: 24vw;
    height: 50vh;
    padding-top: 1vh;
}

div#verifical{
    width: 12vw;
    height: 2vh;
    position: absolute;
    top: 43.7vh;
    left: 43vw;
    border-radius: 5px;
    color: #505050;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #174DBA;
    text-align: center;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #505050;
    text-align: center;
}

label{
    margin-left: 4vw;
    margin-bottom: 1vh;
}

input{
    margin-left: 4vw;
}

@media only screen and (max-width: 1300px){
    div#login {
        width: 26vw;
        margin-left: 37vw;
    }
    div#verifical {
        top: 43vh;
        width: 15vw;
        left: 42vw;
        height: 1.5vh;
    }
    input{
        width: 18vw;
    }
    input.submit{
        width: 19vw;
    }
}

@media only screen and (max-width: 1100px){
    div#login {
        width: 30vw;
        margin-left: 35vw;
    }
    div#verifical {
        top: 43vh;
        width: 19vw;
        left: 40vw;
        height: 1.5vh;
    }
    input{
        width: 21vw;
    }
    input.submit{
        width: 22vw;
    }
}

@media only screen and (max-width: 900px){
    div#login {
        width: 34vw;
        margin-left: 33vw;
    }
    div#verifical {
        top: 43vh;
        width: 23vw;
        left: 38vw;
        height: 1.5vh;
    }
    input{
        width: 25vw;
    }
    input.submit{
        width: 26vw;
    }
}

@media only screen and (max-width: 700px){
    div#login {
        width: 36vw;
        margin-left: 31vw;
    }
    div#verifical {
        top: 43vh;
        width: 28vw;
        left: 36vw;
        height: 1.5vh;
    }
    input{
        width: 25vw;
    }
    input.submit{
        width: 26vw;
    }
}

@media only screen and (max-width: 400px){
    div#login {
        width: 60vw;
        height: 45vh;
        margin-left: 19vw;
    }
    div#verifical {
        top: 43vh;
        width: 48vw;
        left: 30vw;
        height: 1.5vh;
    }
    label{
        margin-left: 8vw;
    }
    input{
        margin-left: 8vw;
        width: 42vw;
    }
    input.submit{
        width: 43vw;
    }
}